<!DOCTYPE html>
<html lang="en">
<head>
  <title>Website Email</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div style="margin: 0; padding: 0; color: #7D84AB; font-size: 16px; font-family: 'Avenir', sans-serif; font-weight: 400; font-style: normal; line-height: normal;">
<table width="95%" cellpadding="0" cellspacing="0" style="background: #FFF; margin:auto">
  <tr>
    <td style="background-color: rgba(40, 78, 106, 1); border-radius: 20px; padding: 0 0 10px 10px;">
      <table width="100%" cellpadding="0" cellspacing="0">
        <tr>
          <td style="padding: 30px; text-align: left;">
            <img src="https://website.logo.url" height="30" alt="logo">
          </td>
          <td style="text-align: right;">
            <img src="https://email.header.image.url" height="80" alt="logo">
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
  
  <div style="margin-top: 15px; width: 95%; max-width: 95%; background: #ECF0FA; border-radius: 20px; margin: auto;">
    <div style="padding: 15px; text-align: center; margin-top: 20px;">
      <div style="text-align: center; width: 100%; max-width: 550px; margin: auto;">
        <span style="font-weight: bold;">{{welcomeText}}</span>
      </div>
    <div style="display: table; width: 100%; max-width: 600px; text-align: center; max-height: 100%; margin-top: 25px; margin: auto">
      <div style="display: table-cell; vertical-align: middle; text-align: center;">
        <div style="margin-top: 20px; display: table; width: 100%;">
          <div style="display: table-row; margin-bottom: 10px;">
            <div style="display: table-cell;">
              <div style="margin-bottom: 10px;">
                <span>{{contentText}}</span>
              </div>
            </div>
          </div>
          <div style="display: table-row;">
            <div style="display: table-cell;">
                <div style="margin-bottom: 10px;">
              <span style="color: #7D84AB;">{{urlPrefixMsg}} <a href="{{url}}">{{urlMsg}}</a></span>
                </div>
            </div>
          </div>          
        </div>
      </div>
    </div>
    </div>
    <div style="text-align: center; margin-bottom: 10px; padding: 10px;">
      <span style="color: #7D84AB;">Website Support</span>
    </div>
  </div>
  <div style="max-height: 40px; background: #E0E4EE; border-radius: 20px; padding: 8px; width:94%; margin: auto; margin-top:20px;">
    <div style="text-align: center;">
      <span>Powered by</span>
      <span style="width: 50px; max-height: 50px; padding:10px;"><img src="https://url.com" alt="footer_logo"></span>
    </div>
  </div>
</div>
</html>